@{
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Ticket System</h1>
	</header>
    <main class="container mt-4">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
	h1 {
        color: #4f765a;
        font-family: Helvetica, sans-serif;
		text-align: center;
	}

	text-center {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2em;
		color: black;
		font-family: Helvetica, sans-serif;
		text-align: center;
	}
</style>




