@{
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ticket System</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<a href="/Home/Index" class="page-title">Ticket System</a>
	</header>
    <main class="container mt-4">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>








